.btn-icon {
  border: 1px solid;
}

.btn-icon:hover {
  box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 20%);
  transform: translateY(-3px);
}

.btn-icon * {
  transition: all 0.3s;
}

.btn-icon span {
  display: block;
  position: relative;
  left: 0;
}

.btn-icon .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -9px;
  margin-left: -9px;
  transition: all .15s;
}

.btn-icon .icon i {
  font-size: 20px;
  color: white;
}

.btn-icon:hover .icon {
  left: 50%;
}

.btn-icon:hover .text {
  left: 150%;
}

.btn-icon .text {
  position: relative;
  transition: all .3s .05s;
}

.facebook {
  border-color: #4599ff;
}

.facebook .text {
  color: #4599ff;
}

.facebook:hover {
  background-color: #4599ff;
}

.google {
  border-color: #fb5959;
}

.google .text {
  color: #fb5959;
}

.google:hover {
  background-color: #fb5959;
}

.linkedin {
  border-color: #0a63bc;
}

.linkedin .text {
  color: #0a63bc;
}

.linkedin:hover {
  background-color: #0a63bc;
}

.mCS_img_loaded {
  border-radius: 50%;
}

.cv {
  background-color: #4A63E7;
  border-color: #4A63E7;
}

.cv .text {
  color: white;
}

.cv .icon {
  color: white;
}

.cv:hover {
  background-color: #fb5959;
  border-color: #fb5959;
}